

	<div class="container">
		<h1>Aktuelles</h1>
		<p>
			<b>25.02.:</b> Wir haben ein Crowdfunding-Projekt gestartet! Auf Basis der Hochschulwatch-Datenbank recherchiert Arne Semsrott einzelne Fälle kritischer Einflussnahmen genauer nach. Das Ziel: Geheime Kooperationsverträge offenlegen und zeigen, wie sich Hochschulwatch für eigene Recherchen nutzen lässt. 
		</p>
		<p>
			<a href="http://crowdfunding.correctiv.org/hochschulwatch">Zum Crowdfunding</a> 
		</p>
			<iframe height="300" frameborder="0" width="200" scrolling="no" allowtransparency="true" style="height:300px;width:200px;" src="https://crowdfunding.correctiv.org/hochschulwatch/widget/?w=200&h=300&l=de"></iframe>

	</div><!-- container -->

