
	<div class="container">
		<h1>Förderer</h1>
		<div class="row above40px">
			<div class="col-sm-7 col-md-6">
				<div class="jumbotron">
					<p><strong>Suche</strong></p>
					<input type="text" class="form-control" id="foerderer-search-input" data-foerdererpath="foerderer/" placeholder="Förderer suchen">
					<ul id="foerderer-search-results" class="list-unstyled well" style="display: none;">
					</ul>
				</div>
			</div>
			<div class="col-sm-5 col-md-offset-1">
				<p>Suchen Sie hier in einer Liste von <b>3000</b> Unternehmen, Stiftungen und privaten Förderern und informieren Sie sich über ihre Verbindungen in die Wissenschaft.</p>
				<p>
					Einige interessante Beispiele mit besonders vielen Verbindungen:
					<a href="foerderer/bayer.html">Bayer</a>,
					<a href="foerderer/volkswagen.html">Volkswagen</a>,
					<a href="foerderer/siemens-ag.html">Siemens AG</a>,
					<a href="foerderer/vattenfall.html">Vattenfall</a>,
					<a href="foerderer/bosch.html">Bosch</a>,
					<a href="foerderer/continental.html">Continental</a>,
					<a href="foerderer/pricewaterhousecoopers.html">PricewaterhouseCoopers</a>
				</p>
			</div>
		</div><!-- row -->
	</div>

