
	<div class="container">
		<h1>Förderer</h1>
		<div class="row">
			<div class="col-sm-4">
				<input type="text" class="form-control" id="foerderer-search-input" data-foerdererpath="foerderer/" placeholder="Förderer suchen">
				<ul id="foerderer-search-results" class="list-unstyled well" style="display: none;">
				</ul>
			</div>
			<div class="col-sm-8">
				<p>Disclaimer: Bitte beachten Sie, dass wir keine Beratung im Einzelfall geben können und nicht befugt sind, Rechtshilfe zu geben.</p>
			</div>
		</div><!-- row -->
	</div>

