
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li><a href="stipendien.html">Stipendien</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Forschungs&shy;kooperationen</h1>
				<p class="lead">
					Mehr als 10.000 Datensätze über Stiftungsprofessuren,
					Forschungskooperationen und Sponsoring finden Sie – fein sortiert – auf
					diesen Seiten.
				</lead>

				<p>
					1990 akquirierten deutsche Hochschulen 1,5 Milliarden Euro Drittmittel. 2001 waren es dann 3 Milliarden, weitere 10 Jahre später 6,2 Milliarden Euro. 2012 waren es 6,7 Milliarden Euro.
				</p>
				<p>
					Etwa 20 Prozent dieser Drittmittel stammten 2012 aus der gewerblichen Wirtschaft. Das entspricht mehr als 1,3 Milliarden Euro. Ein Viertel aller Mitarbeiter an deutschen Hochschulen sind über Drittmittel finanziert. Besonders stark betroffen sind Wissenschaftliche Mitarbeiter. (<a href="http://www.hochschul-barometer.de/2013/drittmittel-der-wirtschaft.html">Quelle 1</a>, <a href="http://www.stifterverband.info/statistik_und_analysen/wissenschaftsstatistik/publikationen/fue_facts/fue_facts_2014-01.pdf">2</a>)
				</p>
				<p>
					44 Prozent der Drittmittel aus der Wirtschaft gingen 2011 in Forschungsaufträge, etwa ein Viertel in Forschungskooperationen und neun Prozent in Stiftungsprofessuren. <a href="http://www.hochschul-barometer.de/2013/drittmittel-der-wirtschaft.html">(Quelle)</a>
				</p>
				<p>
					Problematisch können Drittmittel auf drei Ebenen sein: Zum einen durch direkte Beeinflussung der Drittmittelgeber, etwa durch Eingriffe in die Veröffentlichung von Forschungsergebnissen. Zum anderen ist auch indirekte Beeinflussung möglich, etwa wenn die finanzielle Abhängigkeit vom Drittmittelgeber die Forschung verändert ("Schere im Kopf"). Schließlich kann sich die gesamte Ausrichtung der Forschung nach den Interessen der Drittmittelgeber ausrichten, da andere Mittel oft nicht verfügbar sind. 
				</p>
				<p>
					Wir fordern Offenlegungspflichten von Verträgen zwischen Wirtschaft und Wissenschaft, verpflichtende Sponsoringberichte für Hochschulen sowie die Einbindnung von Hochschulen in die Informationsfreiheitsgesezte. Eine direkte finanzielle Abhängigkeit von Wissenschaftlern zu Drittmittelgebern muss ausgeschlossen sein. Wissenschaftler müssen ein uneingeschränktes Recht auf Veröffentlichung ihrer Forschungsergebnisse in einem angemessenen Zeitraum haben.
				</p>
				<p>
					Aber es gibt auch positive Entwicklungen: Die Uni Rostock veröffentlicht von sich aus Informationen über Sponsoring. In Nordrhein-Westfalen sollen Hochschulen künftig ihre Drittmittel in „geeigneter Weise“ offenlegen. Geldgeber müssen die Unis aber erst nachträglich nennen. (<a href="http://www.spiegel.de/unispiegel/studium/hochschulzukunftsgesetz-kraft-beharrt-auf-neuem-hochschulgesetz-a-943928.html">Spiegel</a>, <a href="http://www.rp-online.de/politik/unis-muessen-geldgeber-erst-nachtraeglich-nennen-aid-1.4106832">rp online</a>)
					Auch Bremer Hochschulen sollen ihre Kooperationsverträge künftig offenlegen (<a href="http://www.weser-kurier.de/bremen_artikel,-Wissenschaft-soll-besser-informieren-_arid,772562.html">Weser-Kurier</a>).
				</p>

			</div>
		</div>
	</div><!-- container -->

