
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="forschungskooperationen.html">Drittmittel von Unternehmen</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Drittmittel von&shy;Unternehmen</h1>
				<p class="lead">
					Tausende Datensätze über Stiftungsprofessuren,
					Drittmittel der Wirtschaft und Sponsoring finden Sie – fein sortiert – auf
					diesen Seiten.
				</lead>

				<p>
					1990 akquirierten deutsche Hochschulen 1,5 Milliarden Euro Drittmittel. 2001 waren es dann 3 Milliarden, weitere 10 Jahre später 6,2 Milliarden Euro. 2017 waren es 7,8 Milliarden Euro. Der Anteil der Finanzierung aus der gewerblichen Wirtschaft liegt recht stabil bei etwa 5 Prozent der Gesamtmittel. 
				</p>
				<p>
					Etwa 20 Prozent dieser Drittmittel stammten 2012 aus der gewerblichen Wirtschaft. Das entspricht mehr als 1,3 Milliarden Euro. Ein Viertel aller Mitarbeiter an deutschen Hochschulen sind über Drittmittel finanziert. Besonders stark betroffen sind Wissenschaftliche Mitarbeiter. (<a href="http://www.hochschul-barometer.de/2018">Quelle 1</a>, <a href="https://www.stifterverband.org/wissenschaft">2</a>)
				</p>
				<p>
					44 Prozent der Drittmittel aus der Wirtschaft gingen 2011 in Forschungsaufträge, etwa ein Viertel in Forschungskooperationen und neun Prozent in Stiftungsprofessuren. <a href="https://www.hochschul-barometer.de/2013/drittmittel-der-wirtschaft.html">(Quelle)</a>
				</p>
				
				<h3>Einschätzung durch Transparency Deutschland</h2>
				<p>
					Problematisch können Drittmittel auf drei Ebenen sein: Zum einen durch direkte Beeinflussung der Drittmittelgeber, etwa durch Eingriffe in die Veröffentlichung von Forschungsergebnissen. Zum anderen ist auch indirekte Beeinflussung möglich, etwa wenn die finanzielle Abhängigkeit vom Drittmittelgeber die Forschung verändert ("Schere im Kopf"). Schließlich könnte sich die gesamte Ausrichtung der Forschung nach den Interessen der Drittmittelgeber ausrichten, wenn andere Mittel nicht ausreichen.
					Wir fordern Offenlegungspflichten von Verträgen zwischen Wirtschaft und Wissenschaft und die Einbindung von Hochschulen in die Informationsfreiheitsgesetze. Eine direkte finanzielle Abhängigkeit von Wissenschaftlern zu Drittmittelgebern muss ausgeschlossen sein. Wissenschaftler müssen ein uneingeschränktes Recht auf Veröffentlichung ihrer Forschungsergebnisse in einem angemessenen Zeitraum haben.
				</p>
				<h3>Best Practice</h2>
				<p>
					Aber es gibt auch positive Entwicklungen: Die Uni Rostock veröffentlicht von sich aus Informationen über Sponsoring. In Nordrhein-Westfalen sollen Hochschulen künftig ihre Drittmittel in „geeigneter Weise“ offenlegen. Geldgeber müssen die Unis aber erst nachträglich nennen. (<a href="http://www.spiegel.de/unispiegel/studium/hochschulzukunftsgesetz-kraft-beharrt-auf-neuem-hochschulgesetz-a-943928.html">Spiegel</a>, <a href="http://www.rp-online.de/politik/unis-muessen-geldgeber-erst-nachtraeglich-nennen-aid-1.4106832">rp online</a>)
					Auch Bremer Hochschulen sollen ihre Kooperationsverträge künftig offenlegen (<a href="http://www.weser-kurier.de/bremen_artikel,-Wissenschaft-soll-besser-informieren-_arid,772562.html">Weser-Kurier</a>).
				</p>
				<p>	In Niedersachsen hat die Landesregierung mit den Hochschulen Leitlinien zur Transparenz in der Forschung entwickelt. Die niedersächsischen Hochschulen veröffentlichen seitdem ihre <a href="https://www.mwk.niedersachsen.de/startseite/forschung/forschungspolitik/transparenz_forschung/transparenz-in-der-forschung-131173.html">Drittmittelprojekte</a>.
				</p>
				
				<p>	Transparency Deutschland hat eine Checkliste erarbeitet, um das Bewusstsein für Interessenkonflikte und Korruptionsrisiken in Hochschulen zu stärken. Unter Korruption im Kontext öffentlicher Hochschulen versteht Transparency den Missbrauch einer Vertrauensstellung in einer Funktion von Forschung, Lehre oder Hochschulverwaltung, um einen materiellen oder immateriellen Vorteil für sich oder einen Dritten zu erlangen, auf den kein Rechtsanspruch besteht. Die Checkliste soll dazu dienen, gefährdete hochschulspezifische Bereiche zu identifizieren und wirksame Gegenmaßnahmen zu implementieren. <br>
					Zur Einschätzung des Reifegrades der Korruptionsprävention einer öffentlichen Hochschule kann ein interner <a href="https://www.transparency.de/fileadmin/Redaktion/Publikationen/2017/Checkliste_SelfAudits_Hochschulen_2017_web.pdf>" > Self-Audit </a> eine wichtige und nützliche erste Hilfe sein.
					
				</p>
				<p>	Der Stifterverband hat zusammen mit Unternehmen und Hochschulen <a href="https://www.stifterverband.org/transparenz-empfehlungen">Empfehlungen zur Transparenz</a> bei Forschungskooperationen, zur <a href="https://www.stifterverband.org/promotion-in-kooperation-mit-unternehmen">Kooperation bei Industriepromotionen</a> und einen <a href="https://www.stifterverband.org/download/file/fid/1271">Code of Conduct für Stiftungsprofessuren</a> erarbeitet. Der Stifterverband ist ein Unternehmensverband, der sich für einen Interessenausgleich zwischen Wissenschaft und Wirtschaft einsetzt. Zu seinen Mitgliedern gehören viele Großunternehmen wie zum Beispiel BASF, BMW, Bosch, Daimler, Siemens. Diese Unternehmen haben zum Beispiel auch die Leitlinien zur Promotion mit erarbeitet und unterzeichnet. Allerdings gibt es DAX-30 Unternehmen, die nicht im Stifterverband organisiert sind, wie beispielsweise die Deutsche Telekom oder Merck. <br>
						Bei diesen Unternehmen sollten Hochschulen besonders darauf achten, dass sie die entwickelten Standards einhalten.
						
				</p>
						
				

			</div>
		</div>
	</div><!-- container -->

