
	<div class="container">
		<div class="row">
			<div class="hidden-xs col-sm-12 col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li><a href="stipendien.html">Stipendien</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Forschungs&shy;kooperationen</h1>
				<p class="lead">
					Über 6000 Datensätze über Stiftungsprofessuren,
					Forschungkooperationen und Sponsoring finden Sie – fein sortiert – auf
					diesen Seiten.
				</lead>

				<h2>Aktuelle Entwicklungen</h2>
				<h3>Nordrhein-Westfalen</h3>
				<p>
					In Nordrhein-Westfalen sollen Hochschulen künftig ihre Drittmittel in „geeigneter Weise“ offenlegen. Geldgeber müssen die Unis aber erst nachträglich nennen. (<a href="http://www.spiegel.de/unispiegel/studium/hochschulzukunftsgesetz-kraft-beharrt-auf-neuem-hochschulgesetz-a-943928.html">Spiegel</a>, <a href="http://www.rp-online.de/politik/unis-muessen-geldgeber-erst-nachtraeglich-nennen-aid-1.4106832">rp online</a>)
				</p>
				<h3>Bremen</h3>
				<p>
					Bremer Hochschulen sollen ihre Kooperationsverträge künftig offenlegen. (<a href="http://www.weser-kurier.de/bremen_artikel,-Wissenschaft-soll-besser-informieren-_arid,772562.html">Weser-Kurier</a>)
				</p>

			</div>
		</div>
	</div><!-- container -->

