<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="wir alle">
	<link rel="shortcut icon" href="{{{ srcpath }}}images/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{{ srcpath }}}images/apple-touch-icon-114x114-precomposed.png" />

	<title>Hochschulwatch</title>

	<!-- CSS -->
	<link href="{{{ srcpath }}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{{ srcpath }}}css/hochschulwatch.less" rel="stylesheet/less">
	<script src="{{{ srcpath }}}js/less.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body role="document">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{{ srcpath }}}"><img src="{{{ srcpath }}}images/logo-kompakt.png" class="img-responsive"></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li{{ #activeHome }} class="active"{{ /activeHome }}><a href="{{{ srcpath }}}">Home</a></li>
					<li{{ #activeAbout }} class="active"{{ /activeAbout }}><a href="{{{ srcpath }}}about.html">Über</a></li>
					<li{{ #activeContact }} class="active"{{ /activeContact }}><a href="{{{ srcpath }}}kontakt.html">Kontakt</a></li>
					<li class="dropdown {{ #activeBundesland }}active{{ /activeBundesland }}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
							Bundesländer <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{{ srcpath }}}bundesland/baden-wuerttemberg.html">Baden-Württemberg</a></li>
							<li><a href="{{{ srcpath }}}bundesland/bayern.html">Bayern</a></li>
							<li><a href="{{{ srcpath }}}bundesland/berlin.html">Berlin</a></li>
							<li><a href="{{{ srcpath }}}bundesland/brandenburg.html">Brandenburg</a></li>
							<li><a href="{{{ srcpath }}}bundesland/bremen.html">Bremen</a></li>
							<li><a href="{{{ srcpath }}}bundesland/hamburg.html">Hamburg</a></li>
							<li><a href="{{{ srcpath }}}bundesland/hessen.html">Hessen</a></li>
							<li><a href="{{{ srcpath }}}bundesland/mecklenburg-vorpommern.html">Mecklenburg-Vorpommern</a></li>
							<li><a href="{{{ srcpath }}}bundesland/niedersachsen.html">Niedersachsen</a></li>
							<li><a href="{{{ srcpath }}}bundesland/nordrhein-westfalen.html">Nordrhein-Westfalen</a></li>
							<li><a href="{{{ srcpath }}}bundesland/rheinland-pfalz.html">Rheinland-Pfalz</a></li>
							<li><a href="{{{ srcpath }}}bundesland/saarland.html">Saarland</a></li>
							<li><a href="{{{ srcpath }}}bundesland/sachsen.html">Sachsen</a></li>
							<li><a href="{{{ srcpath }}}bundesland/sachsen-anhalt.html">Sachsen-Anhalt</a></li>
							<li><a href="{{{ srcpath }}}bundesland/schleswig-holstein.html">Schleswig-Holstein</a></li>
							<li><a href="{{{ srcpath }}}bundesland/thueringen.html">Thüringen</a></li>
						</ul>
					</li>
				</ul>
				<div class="navbar-form navbar-right hidden-xs">
					<input type="text" class="form-control" id="search-input" data-hochschulpath="{{{ srcpath }}}hochschule/" placeholder="Hochschule suchen">
					<div class="relative">
						<ul id="search-results" class="absolute list-unstyled well">
						</ul>
					</div>
				</div>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

