
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li class="active"><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Hochschulräte</h1>
				<p class="lead">
				Ein Hochschulrat ist ein Hochschulgremium, das je nach Bundesland auch als Universitätsrat, Kuratorium, Stiftungsrat oder Aufsichtsrat bezeichnet wird. Mit Ausnahme von Brmen wurden seit den 2000er Jahren in allen Bundesländern Hochschulräte etabliert. 
				</lead>
				<p>Die gesetzlichen Rahmenbedingungen für Hochschulräte unterscheiden sich teilweise stark. Allen Hochschulräte ist die Aufgabe gemein, Hochschulen strategisch zu beraten und die Rolle eines kritischen Freundes der Hochschulleitung einzunehmen. In einigen Bundesländern haben sie zudem weitergehende kontrollierende Aufgaben, zum Beispiel in Hinblick auf die Finanzplanung oder die Berufung von Professoren. Eine wesentliche Rolle spielen Hochschulräte häufig auch bei der Findung eines neuen Präsidenten oder einer neuen Präsidentin bzw. einer neuen Rektorin oder eines neuen Rektors. Der/die Hochschulleitende braucht in der Regel eine doppelte Legitimation von Senat und Hochschulrat. 
				</p>
				<p>Es gibt zwei Modelle der Zusammensetzung von Hochschulräten, die mit unterschiedlichen Kompetenzen einhergehen. Hochschulräte mit eher beratender Funktion sind zumeist rein extern besetzt. Hochschulräte mit größeren Entscheidungsbefugnissen werden zumeist paritätisch aus internen und externen Mitgliedern zusammengesetzt. Externe Mitglieder werden - in von Bundesland zu Bundesland sehr unterschiedlichen Verfahren – von Hochschule und/oder Land berufen.
				</p>
				<p>Die größte Gruppe unter den Hochschulratsmitgliedern machen mit 47 Prozent Wissenschaftler aus. Die zweitgrößte Gruppe sind Wirtschaftsvertreter, die etwa jedes vierte Hochschulratsmitglied stellen (26 Prozent). Das restliche Viertel entfällt auf Personen aus Stiftungen, Kirchen, Sozialverbänden, Gewerkschaften, Politik, Justiz, Wissenschaftsmanagement sowie Studierende. (Röbken/Schütz 2013)
				</p>
				<p>Zwischen den Hochschultypen gibt es Unterschiede in der Besetzung. An Universitäten und pädagogischen Hochschulen ist der Anteil der Personen aus der Wissenschaft überdurchschnittlich hoch. In Hochschulräte von Fachhochschulen und technischen Universitäten werden mehr Personen aus der Wirtschaft berufen. (Röbken/Schütz 2013)
				</p>
				<h3>Regelung in den Bundesländern</h3>
				<h4><img src="../images/land-baden-wuerttemberg.png" class="img-icon"> Baden-Württemberg</h4>
				<p>Hochschulräte werden in Form eines mit der Wirtschaft vergleichbaren Aufsichtsrats geführt, siehe <a href="http://www.landesrecht-bw.de/jportal/?quelle=jlink&query=HSchulG+BW+%C2%A7+20&psml=bsbawueprod.psml&max=true">§ 20 LHG BaWü</a>.</p>
				<h4><img src="../images/land-bayern.png" class="img-icon"> Bayern</h4>
				<p>
					Die Aufgaben des Universitätsrates sind im <a href="http://https://www.gesetze-bayern.de/Content/Document/BayHSchG/true">im Bayerischen Hochschulgesetzes</a> festgelegt. Hochschulräte bestehen aus den Mitgliedern des Senats und "zehn Persönlichkeiten aus Wissenschaft und Kultur und insbesondere aus Wirtschaft und beruflicher Praxis", sind also paritätisch aus hochschulinternen und -externen Mitgliedern besetzt. Der Hochschulrat beschließt u.a. die Grundordnung, wählt den Präsidenten, beschließt den Entwicklungsplan der Hochschule und die Einrichtung von Studiengängen.
				</p>
				<h4><img src="../images/land-berlin.png" class="img-icon"> Berlin</h4>
				<p>
					Berlin schreibt keine Hochschulräte vor, allerdings <a href="http://gesetze.berlin.de/jportal/portal/t/1zse/page/bsbeprod.psml?pid=Dokumentanzeige&showdoccase=1&js_peid=Trefferliste&documentnumber=1&numberofresults=186&fromdoctodoc=yes&doc.id=jlr-HSchulGBE2011rahmen&doc.part=X&doc.price=0.0&doc.hl=1#jlr-HSchulGBE2011pP64">Kuratorien, die aus 8 internen sowie 14 externen Mitgliedern bestehen</a>. Alle Berliner Hochschulen nutzen die Erprobungsklausel zur Umsetzung alternativer Modelle. </p>
				<h4><img src="../images/land-brandenburg.png" class="img-icon"> Brandenburg</h4>
				<p>
					In Brandenburg ist das in einem <a href="http://www.brandenburg.de/media/1494/Hochschulgesetz.pdf ">Hochschulgesetz</a>. geregelt</p>
				<h4><img src="../images/land-bremen.png" class="img-icon"> Bremen</h4>
				<p>
					In Bremen sind gesetzlich keine Hochschulräte vorgesehen.</p>
				<h4><img src="../images/land-hamburg.png" class="img-icon"> Hamburg</h4>
				<p>
					Das <a href="http://www.landesrecht-hamburg.de/jportal/portal/page/bshaprod.psml;jsessionid=724B697A3F7F45375AFB413DAD2FCAD4.jp35?showdoccase=1&st=null&doc.id=jlr-HSchulGHArahmen&doc.part=X&doc.origin=bs">Hochschulrahmengesetz</a> sieht einen Hochschulrat aus 9 (UHH und HAW Hamburg) bzw. 5 (an den übrigen Hochschulen) Mitgliedern vor. Der Hochschulrat nimmt nach dem Hochschulmodernisierungsgesetz vom Mai 2003 zentrale Steuerungsaufgaben der Hochschule wahr, insbesondere Wahl des Präsidenten, des Kanzlers sowie Beschlüsse über Strukturpläne und Grundsätze sowie Empfehlungen zur Profilbildungen der Hochschule.</p>
				<h4><img src="../images/land-hessen.png" class="img-icon"> Hessen</h4>
				<p>
					Vorgesehen ist ein <a href="http://http://www.uni-frankfurt.de/72353563/HHG_HE___Hochschulgesetz_08_06_2018_14_56_11.pdf">§42 HHG Hochschulrat</a> mit externen Mitgliedern. </p>
				<h4><img src="../images/land-mecklenburg-vorpommern.png" class="img-icon"> Mecklenburg-Vorpommern</h4>
				<p>
					Die Bildung eines Hochschulrates ist laut <a href="http://www.landesrecht-mv.de/jportal/portal/page/bsmvprod.psml?nid=2z&showdoccase=1&doc.id=jlr-HSchulGMV2011pP86&st=null">Landeshochschulgesetz</a> eine Kann-Bestimmung. Dieser Hochschulrat muss rein extern besetzt werden. Er hat eine beratende Funktion. Bisher nutzen nur die Hochschule Wismar und die Hochschule Neubrandenburg diese Möglichkeit. </p>
				<h4><img src="../images/land-niedersachsen.png" class="img-icon"> Niedersachsen</h4>
				<p>
					Die Hochschulen des Landes verfügen über einen <a href="http://www.nds-voris.de/jportal/portal/t/1xm1/page/bsvorisprod.psml;jsessionid=04167FA5ADD2BFD34E49DAE4A77B4F82.jp84?pid=Dokumentanzeige&showdoccase=1&js_peid=Trefferliste&documentnumber=1&numberofresults=1&fromdoctodoc=yes&doc.id=jlr-HSchulGND2007rahmen&doc.part=X&doc.price=0.0#jlr-HSchulGND2007V7P52%20jlr-HSchulGND2007V1P52%20jlr-HSchulGND2007V2P52%20jlr-HSchulGND2007V3P52%20jlr-HSchulGND2007V4P52%20jlr-HSchulGND2007V5P52%20jlr-HSchulGND2007V6P52">mehrheitlich extern besetzten Hochschulrat</a> mit je 7 Mitgliedern. Die Stiftungshochschulräte des Landes verfügen über einen analog besetzten Stiftungsrat.</p>
				<h4><img src="../images/land-nordrhein-westfalen.png" class="img-icon"> Nordrhein-Westfalen</h4>
				<p>
					<a href="https://recht.nrw.de/lmi/owa/br_bes_detail?sg=0&menu=1&bes_id=28364&anw_nr=2&aufgehoben=N&det_id=397572">Das Land sieht vor</a>, dass der Hochschulrat 7 bis 13 Mitglieder umfasst und mindestens zur Hälfte extern besetzt ist.</p>
				<h4><img src="../images/land-rheinland-pfalz.png" class="img-icon"> Rheinland-Pfalz</h4>
				<p>
					<a href="http://landesrecht.rlp.de/jportal/portal/t/32me/page/bsrlpprod.psml;jsessionid=8EEE28E4B6D6BC03139D7E3685D0AD37.jp15?pid=Dokumentanzeige&showdoccase=1&js_peid=Trefferliste&documentnumber=1&numberofresults=167&fromdoctodoc=yes&doc.id=jlr-HSchulGRP2010rahmen%3Ajuris-lr00&doc.part=X&doc.price=0.0&doc.hl=1#jlr-HSchulGRP2010pG15">Der Hochschulrat umfasst 10 Mitglieder</a> und ist zur Hälfte extern bzw. intern besetzt. Die wesentlichen Aufgaben des Hochschulrates sind die Vorauswahl der Bewerber für die Wahl des Präsidenten (er soll dem Senat mindestens drei Kandidaten vorschlagen) sowie die Zustimmung zu Grundordnung, Ordnungen und Satzungen.</p>
				<h4><img src="../images/land-saarland.png" class="img-icon"> Saarland</h4>
				<p>
					<a href="https://www.uni-saarland.de/universitaet/portraet/organisation/hochschulrat/mitglieder.html">Der Hochschulrat</a> umfasst vier externe Mitglieder an der Universität des Saarlandes. Die anderen Hochschulen des Landes haben keinen Hochschulrat. Zu seinen Aufgaben gehört Organisation der Universität, längerfristige Entwicklungpläne, Studienordnungen, Zuteilung der Finanzmittel, Wirtschaftsführung, Wahl des Universitätspräsidenten oder der Universitätspräsidentin</p>
				<h4><img src="../images/land-sachsen.png" class="img-icon"> Sachsen</h4>
				<p>
					Mit dem <a href="http://www.revosax.sachsen.de/vorschrift/10562-Saechsisches-Hochschulfreiheitsgesetz">Sächsischen Hochschulfreiheitsgesetz</a> wurden auch in Sachsen Hochschulräte eingeführt. Dem Gesetz nach bestehen die Hochschulräte aus 5, 7, 9 oder 11 Personen, wobei bis auf zwei alle hochschulexterne Personen sein müssen. Das führt dazu, dass die Hochschulräte in Sachsen vor allem mit hochschulbetriebsfernen Personen besetzt sind. Die näheren Aufgaben des Gremiums regelt § 86 SächsHSFG.</p>
				<h4><img src="../images/land-sachsen-anhalt.png" class="img-icon"> Sachsen-Anhalt</h4>
				<p>
					In Sachsen-Anhalt <a href="http://www.landesrecht.sachsen-anhalt.de/jportal/;jsessionid=D4C65B3B6504113277EFAE1A0F5512BA.jp15?quelle=jlink&query=HSchulG+ST&psml=bssahprod.psml&max=true&aiz=true#jlr-HSchulGST2010pP74">haben die Hochschulen Kuratorien</a>, die fünf externe Mitglieder umfassen.</p>
				<h4><img src="../images/land-schleswig-holstein.png" class="img-icon"> Schleswig-Holstein</h4>
				<p>
					Der Universitätsrat ist <a href="http://www.landesrechnungshof-sh.de/file/bemerkungen2013_tz15.pdf">laut Rechnungshof</a> unwirtschaftlich. Die Hochschulen des Landes haben einen <a href="http://www.lexsoft.de/cgi-bin/lexsoft/justizportal_nrw.cgi?t=156355498818068628&sessionID=304262561504796949&source=link&highlighting=off&templateID=document&chosenIndex=Dummy_nv_68&xid=2899800,20">Hochschulrat, der rein extern besetzt ist</a>. Ein gemeinsamer Universitätsrat der Universitäten Flensburg, Kiel und Lübeck wurde 2010 aufgelöst, da sich dieser nicht bewehrt habe.</p>
				<h4><img src="../images/land-thueringen.png" class="img-icon"> Thüringen</h4>
				<p>
					Hochschulräte müssen <a href="http://landesrecht.thueringen.de/jportal/;jsessionid=D03C5C6BF88B3880180377C833A43AC6.jp15?quelle=jlink&query=HSchulG+TH&psml=bsthueprod.psml&max=true&aiz=true#jlr-HSchulGTH2007V7P32%20jlr-HSchulGTH2007V1P32%20jlr-HSchulGTH2007V2P32%20jlr-HSchulGTH2007V3P32%20jlr-HSchulGTH2007V4P32%20jlr-HSchulGTH2007V5P32%20jlr-HSchulGTH2007V6P32">gemäß ThürHG</a> entweder zu zwei Dritteln oder vollständig (jeweils bezogen auf die stimmberechtigten Mitglieder) aus hochschulexternen Mitgliedern bestehen. </p>
			
			</div>
		</div>
	</div><!-- container -->

