
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li><a href="stipendien.html">Stipendien</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li class="active"><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Hochschulräte</h1>
				<p class="lead">
				Ein Hochschulrat ist ein Hochschulgremium, das je nach Bundesland auch als Universitätsrat, Kuratorium, Stiftungsrat oder Aufsichtsrat bezeichnet wird. Hochschulräte sind ein vergleichsweise neuartiges Element in der Hochschulverwaltung und werden in der Regel mehrheitlich mit Hochschulexternen besetzt. 
				</lead>

				<h3>Regelung in den Bundesländern</h3>
				<h4><img src="../images/land-baden-wuerttemberg.png" class="img-icon"> Baden-Württemberg</h4>
				<p>Hochschulräte werden in Form eines mit der Wirtschaft vergleichbaren Aufsichtsrats geführt, siehe § 20 LHG BaWü.</p>
				<h4><img src="../images/land-bayern.png" class="img-icon"> Bayern</h4>
				<div class="row">
					<div class="col-sm-6">
						<p>Die Aufgaben des Universitätsrates sind im Artikel 26 des Bayerischen Hochschulgesetzes festgelegt. Hochschulräte bestehen aus den Mitgliedern des Senats und "acht Persönlichkeiten aus Wissenschaft und Kultur und insbesondere aus Wirtschaft und beruflicher Praxis" (Art. 26 Abs. 1 Satz 1 BayHSchG), sind also paritätisch aus hochschulinternen und -externen Mitgliedern besetzt. Der Hochschulrat beschließt die Grundordnung und deren Änderung durch Satzung, sowie über Anträge nach Art. 106 Abs. 2 Bay. Hochschulgesetz; wählt den Präsidenten oder die Präsidentin und entscheidet über deren Abwahl,; wählt die weiteren Mitglieder der Hochschulleitung mit Ausnahme des Kanzlers oder der Kanzlerin und entscheidet über deren Abwahl; beschließt nach Benennung geeigneter Personen durch die Hochschulleitung Vorschläge für die Bestellung des Kanzlers oder der Kanzlerin; beschließt über den von der Erweiterten Hochschulleitung aufgestellten Entwicklungsplan der Hochschule;
						</p>
					</div>
					<div class="col-sm-6">
						<ul>
						<li>beschließt auf Antrag der Erweiterten Hochschulleitung über Vorschläge zur Gliederung der Hochschule in Fakultäten
						</li>
						<li>beschließt über die Einrichtung, Änderung und Aufhebung von Studiengängen
						</li>
						<li>nimmt zur Errichtung, Änderung oder Aufhebung von wissenschaftlichen und künstlerischen Einrichtungen sowie von Betriebseinheiten durch die Hochschulleitung Stellung
						</li>
						<li>nimmt zu den Voranschlägen zum Staatshaushalt oder zum Entwurf des Wirtschaftsplans Stellung
						</li>
						<li>nimmt den Rechenschaftsbericht des Präsidenten oder der Präsidentin entgegen und kann über ihn beraten
						</li>
						<li>stellt den Körperschaftshaushalt fest
						</li>
						<li>nimmt die sonstigen ihm durch Gesetz oder auf Grund eines Gesetzes übertragenen Aufgaben wahr
						</li>
						<li>wird vor dem Abschluss von Zielvereinbarungen mit dem Staat gehört und stellt für die Hochschule das Erreichen der in diesen Zielvereinbarungen festgelegten Ziele fest.
						</li>
						</ul>
					</div>
				</div><!-- row -->
				<h4><img src="../images/land-berlin.png" class="img-icon"> Berlin</h4>
				<p>Berlin schreibt keine Hochschulräte vor, allerdings Kuratorien, die aus 8 internen sowie 14 externen Mitgliedern bestehen. Alle Berliner Hochschulen nutzen die Erprobungsklausel zur Umsetzung alternativer Modelle. </p>
				<h4><img src="../images/land-brandenburg.png" class="img-icon"> Brandenburg</h4>
				<p>In Brandenburg gibt es lediglich einen hochschulübergreifender Landeshochschulrat.</p>
				<h4><img src="../images/land-bremen.png" class="img-icon"> Bremen</h4>
				<p>In Bremen sind gesetzlich keine Hochschulräte vorgesehen.</p>
				<h4><img src="../images/land-hamburg.png" class="img-icon"> Hamburg</h4>
				<p>Das Gesetz sieht einen Hochschulrat aus 9 (UHH und HAW Hamburg) bzw. 5 (an den übrigen Hochschulen) Mitgliedern vor. Der Hochschulrat nimmt nach dem Hochschulmodernisierungsgesetz vom Mai 2003 zentrale Steuerungsaufgaben der Hochschule wahr, insbesondere Wahl und Abwahl der Präsidentin oder des Präsidenten; Wahl und Abwahl der Kanzlerin oder des Kanzlers; Genehmigung der Grundordnung der Hochschule; Beschlussfassung über die Struktur- und Entwicklungspläne der Hochschule; Beschlussfassung über die Grundsätze für die Ausstattung der Hochschule und die Mittelverteilung; Empfehlungen zur Profilbildung der Hochschule, zur Schwerpunktsetzung in Forschung und Lehre sowie zur Weiterentwicklung des Studienangebots</p>
				<h4><img src="../images/land-hessen.png" class="img-icon"> Hessen</h4>
				<p>Vorgesehen ist ein rein extern besetzter Hochschulrat mit bis zu 10 Mitgliedern. </p>
				<h4><img src="../images/land-mecklenburg-vorpommern.png" class="img-icon"> Mecklenburg-Vorpommern</h4>
				<p>Die Bildung eines Hochschulrates ist laut Landeshochschulgesetz (Fassung vom 25. Januar 2011) eine Kann-Bestimmung. Dieser Hochschulrat muss rein extern besetzt werden. Er hat eine beratende Funktion. Bisher nutzen nur die Hochschule Wismar und die Hochschule Neubrandenburg diese Möglichkeit. </p>
				<h4><img src="../images/land-niedersachsen.png" class="img-icon"> Niedersachsen</h4>
				<p>Die Hochschulen des Landes verfügen über einen mehrheitlich extern besetzten Hochschulrat mit je 7 Mitgliedern. Die Stiftungshochschulraten des Landes verfügen über einen analog besetzten Stiftungsrat.</p>
				<h4><img src="../images/land-nordrhein-westfalen.png" class="img-icon"> Nordrhein-Westfalen</h4>
				<p>Das Land sieht vor, dass der Hochschulrat 6, 8 oder 10 Mitglieder umfasst und mindestens hälftig extern besetzt ist.</p>
				<h4><img src="../images/land-rheinland-pfalz.png" class="img-icon"> Rheinland-Pfalz</h4>
				<p>Der Hochschulrat umfasst 10 Mitglieder und ist zur Hälfte extern bzw. intern besetzt. </p>
				<h4><img src="../images/land-saarland.png" class="img-icon"> Saarland</h4>
				<p>Der Universitätsrat umfasst sieben externe Mitglieder an der Universität des Saarlandes. Die anderen Hochschulen des Landes haben keinen Hochschulrat. Zu seinen Aufgaben gehört Organisation der Universität, längerfristrige Entwicklungpläne, Studienordnungen, Zuteilung der Finanzmittel, Wirtschaftsführung, Wahl des Universitätspräsidenten oder der Universitätspräsidentin</p>
				<h4><img src="../images/land-sachsen.png" class="img-icon"> Sachsen</h4>
				<p>Mit dem Sächsischen Hochschulfreiheitsgesetz vom 10. Dezember 2008, wurden auch in Sachsen Hochschulräte eingeführt. Dem Gesetz nach bestehen die Hochschulräte aus 5, 7, 9 oder 11 Personen, wobei bis auf zwei alle Hochschulexterne sein müssen. Das führt dazu, dass die Hochschulräte in Sachsen vor allem mit hochschulbetriebsfernen Personen besetzt sind. Die näheren Aufgaben des Gremiums regelt § 86 SächsHSFG.</p>
				<h4><img src="../images/land-sachsen-anhalt.png" class="img-icon"> Sachsen-Anhalt</h4>
				<p>In Sachsen-Anhalt haben die Hochschulen Kuratorien, die fünf externe Mitglieder umfassen.</p>
				<h4><img src="../images/land-schleswig-holstein.png" class="img-icon"> Schleswig-Holstein</h4>
				<p>Die Hochschulen des Landes haben einen Hochschulrat, der rein extern besetzt ist. Ein gemeinsamer Universitätsrat der Universitäten Flensburg, Kiel und Lübeck wurde 2010 aufgelöst, da sich dieser nicht bewehrt habe.</p>
				<h4><img src="../images/land-thueringen.png" class="img-icon"> Thüringen</h4>
				<p>Hochschulräte müssen gemäß § 32 Abs 3 ThürHG entweder zu zwei Dritteln oder vollständig (jeweils bezogen auf die stimmberechtigten Mitglieder) aus hochschulexternen Mitgliedern bestehen. </p>
			
			</div>
		</div>
	</div><!-- container -->

