
	<div class="container">
		<h1>{{ Name }}</h1>


		<div class="row">
			<div class="col-sm-5 col-sm-push-7 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
				<table class="table table-striped table-bordered">
					<tr>
						<td>Hochschulschlüssel</td>
						<td>{{ uID }}</td>
					</tr>
					{{ #addi.length }}
					<tr>
						<td>Adresse</td>
						<td><a href="https://maps.google.de/?q={{ #encodeURIComponent }}{{ addi }}{{ /encodeURIComponent }}">{{ addi }}</a></td>
					</tr>
					{{ /addi.length }}
					<tr>
						<td>Land</td>
						<td><a href="../bundesland/{{ #bundesland }}{{ slugify }}{{ /bundesland }}.html">{{ bundesland }}</a></td>
					</tr>
					<tr>
						<td>Art</td>
						<td>{{ hs-art }}</td>
					</tr>
					<tr>
						<td>Orientierung</td>
						<td>{{ orientierung }}</td>
					</tr>
					{{ #Träger.length }}
					<tr>
						<td>Träger</td>
						<td>{{ Träger }}</td>
					</tr>
					{{ /Träger.length }}
					{{ #Gesellschafter.length }}
					<tr>
						<td>Gesellschafter</td>
						<td>{{ Gesellschafter }}</td>
					</tr>
					{{ /Gesellschafter.length }}
				</table>
			</div>

			<div class="col-sm-6 col-sm-pull-5 col-md-5 col-md-pull-5 col-lg-5 col-lg-pull-4">
				<h3>Anteil der gewerblichen Wirtschaft an den Drittmitteln</h3>
				<div class="row">
					<div class="col-sm-5 col-md-5 col-lg-4">
						<div class="piechart above20px text-center" id="piechart" data-wirtschaftpercent="{{ wirtschaftPercent }}"></div>
					</div>
					<div class="col-sm-7 col-md-7 col-lg-8">
						<table class="table table-striped above10px">
							<thead>
								<tr>
									<th>
										Jahr
									</th>
									<th>
										Wirtschaft
									</th>
									<th>
										Absolut
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										2010
									</th>
									<td class="text-right">
										{{ wirtschaft-2010-string }}
									</td>
									<td class="text-right">
										{{ absolut-2010-string }}
									</td>
								</tr>
								<tr>
									<th>
										2011
									</th>
									<td class="text-right">
										{{ wirtschaft-2011-string }}
									</td>
									<td class="text-right">
										{{ absolut-2011-string }}
									</td>
								</tr>
								<tr>
									<th>
										2012
									</th>
									<td class="text-right">
										{{ wirtschaft-2012-string }}
									</td>
									<td class="text-right">
										{{ absolut-2012-string }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- row -->
			</div>
		</div><!-- row -->

		{{ #text }}
		<p class="lead">
			{{{ text }}}
		</p>
		{{ /text }}


		{{ #hochschulraete.length }}
		<h2>Hochschulräte <sup><a href="../themen/hochschulraete.html" class="badge">Infos</a></sup></h2>
		<div class="table-responsive">
			<table class="table table-striped">
				{{ #hochschulraete }}
				<tr>
					<td>{{ Name }}</td>
					<td><a href="../foerderer/{{ #Unternehmen }}{{ slugify }}{{ /Unternehmen }}.html">{{ Unternehmen }}</a></td>
				</tr>
				{{ /hochschulraete }}
			</table>
		</div>
		{{ /hochschulraete.length }}



		{{ #stiftungsprofessuren.length }}
		<h2>Stiftungsprofessuren <sup><a href="../themen/stiftungsprofessuren.html" class="badge">Infos</a></sup></h2>
		{{ #stiftungsprofessuren }}
		<dl>
			<dt>{{ Stiftungsprofessur }}</dt>
			<dd><em>Stifter:</em> <a href="../foerderer/{{ #Stifter }}{{ slugify }}{{ /Stifter }}.html">{{ Stifter }}</a></dd>
			{{ #Laufzeit.length }}
				<dd><em>Laufzeit:</em> {{ Laufzeit }}</dd>
			{{ /Laufzeit.length }}
			{{ #Fördersumme pro Jahr }}
				<dd><em>Fördersumme pro Jahr:</em> {{ Fördersumme pro Jahr }}</dd>
			{{ /Fördersumme pro Jahr }}
			{{ #Fördersumme insgesamt }}
				<dd><em>Fördersumme insgesamt:</em> {{ Fördersumme insgesamt }}</dd>
			{{ /Fördersumme insgesamt }}
		</dl>
		{{ /stiftungsprofessuren }}
		{{ /stiftungsprofessuren.length }}



		{{ #kooperation.length }}
		<h2>Kooperationen <sup><a href="../themen/forschungskooperationen.html" class="badge">Infos</a></sup></h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Förderer</th>
						<th class="text-right">Wert</th>
						<th>Hinweis</th>
					</tr>
				</thead>
				<tbody>
					{{ #kooperation }}
					<tr>
						<td><a href="../foerderer/{{ #Förderer }}{{ slugify }}{{ /Förderer }}.html">{{ Förderer }}</a></td>
						<td class="text-right">{{ Wert }}</td>
						<td>{{ Hinweis }}</td>
					</tr>
					{{ /kooperation }}
				</tbody>
			</table>
		</div>
		{{ /kooperation.length }}



		{{ #deutschlandstipendien.length }}
		<h2>Deutschlandstipendien <sup><a href="../themen/stipendien.html" class="badge">Infos</a></sup></h2>
		<ul>
			{{ #deutschlandstipendien }}
			<li><a href="../foerderer/{{ #Firma }}{{ slugify }}{{ /Firma }}.html">{{ Firma }}</a></li>
			{{ /deutschlandstipendien }}
		</ul>
		{{ /deutschlandstipendien.length }}


		{{ #sponsoring.length }}
		<h2>Zuwendungen <sup><a href="../themen/sponsoring.html" class="badge">Infos</a></sup></h2>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Jahr</th>
						<th>Geber</th>
						<th>Leistung</th>
						<th>Art</th>
						<th class="text-right">Wert <span class="caret"></span></th>
						<th>Hinweis</th>
					</tr>
				</thead>
				<tbody>
					{{ #sponsoring }}
					<tr data-wert="{{ Wert }}">
						<td>{{ Jahr }}</td>
						<td><a href="../foerderer/{{ #Name des Gebers }}{{ slugify }}{{ /Name des Gebers }}.html">{{ Name des Gebers }}</a></td>
						<td>{{ Geld-/Sachspende }}</td>
						<td>{{ Art der Leistung }}</td>
						<td class="text-right" data-number="{{ Wert }}">{{ WertString }}</td>
						<td>{{ Hinweis }}</td>
					</tr>
					{{ /sponsoring }}
				</tbody>
			</table>
		</div>
		{{ /sponsoring.length }}



		<hr class="above40px">
		<p>Haben Sie Ergänzungen, Korrekturen, Hinweise?
			<a href="kontakt.html">Schreiben Sie uns!</a> Auch gerne an den
			<a href="https://informant.taz.de/">Briefkasten für sensible Daten</a> der taz.
		</p>

	</div><!-- container -->

