	<div class="container">
		<h1>Kontakt & Impressum</h1>
		<div class="row">
			<div class="col-sm-7 col-md-7">
				<p>
					hochschulwatch.de ist ein Projekt von Transparency International Deutschland e.V.. Die technische Umsetzung erfolgte durch <a href="https://www.netaction.de/">Thomas Schmidt</a> und Leon Sarodnik.
				</p>
				
				<p>Projektverantwortung bei Transparency International Deutschland e.V.: <a href="mailto:pbuettner@transparency.de"><Dr. Peter Büttner</a></p>
				<p>Der Code für Hochschulwatch ist <a href="https://github.com/netAction/hochschulwatch/">auf Github verfügbar</a>, <a href="https://github.com/netAction/hochschulwatch/tree/gh-pages/import/daten/vorlagen-in-csv">hier alle Quelldaten, die wir auf Hochschulwatch verwenden</a>.</p>
				<p>Wir freuen uns über inhaltliche und technische Mitarbeit am Projekt! </p>
				
				<p>Verantwortlich im Sinne des §5 des Telemediengesetzes (TMG) ist: Transparency International Deutschland e.V.</p>

				<p>Haftungsausschluss</p>
				<small><p>Transparency Deutschland e. V. übernimmt keine Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen.
				Transparency Deutschland e.V. erklärt ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat Transparency Deutschland e.V. keinerlei Einfluss und distanziert sich ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise.</p></small>
				
				<!--<p>Alle Inhalte sind urheberrechtlich geschützt. Veröffentlichung und Vervielfältigung nur mit Genehmigung.
				© 2019 Transparency International Deutschland e.V.</p>-->
			</div>
			
			<div class="col-sm-5 col-md-3 col-md-offset-2">
				<p class="above15px"><a href="http://www.transparency.de/"><img src="images/logo_neu-transparency-international.png" alt="Transparency International" class="img-responsive w100"></a></p>
				<address>
					<strong>www.hochschulwatch.de</strong><br>
					<a href="https://www.transparency.de">Transparency International Deutschland e.V.</a><br>
					<a href="https://maps.google.de/maps?q=Alte Schönhauser Str..%2044%2010119%20Berlin">Alte Schönhauser Str. 44<br>
					D-10119 Berlin</a><br>
					Tel. +49 30 549898 0<br><br>
					
					Email <a href="mailto:office@transparency.de">office@transparency.de</a><br>
					Fax  +49 30 549898 22<br>
				</address>
				
				Vereinsregister: Berlin<br>
				Registernummer: 16181 B<br><br>
				Vertretungsberechtige:<br>

				<b>Hartmut Bäumer</b><br>
				<small>Vorsitzender</small><br>
				<b>Helena Peltonen-Gassmann</b><br>
				<small>Stellvertretender Vorsitzende</small><br>
				<b>Carel Carlowitz Mohn</b><br>
				<small>Stellvertretender Vorsitzender</small><br>

				
			</div>
		</div>
	</div><!-- container -->