
	<div class="container">
		<h1>Kontakt</h1>
		<div class="row">
			<div class="col-sm-8 col-md-7">
				<p>
					hochschulwatch.de ist ein Projekt von Transparency International, der taz und dem freien zusammenschluss von studentInnenschaften (fzs). Die technische Umsetzung erfolgte durch <a href="https://www.netaction.de/">Thomas Schmidt</a>.
				</p>
				<p>Verantwortlich im Sinne des Pressegesetzes: Ines Pohl</p>
				<p>Projektverantwortung bei Transparency International Deutschland: Arne Semsrott</p>
				<p>Projektverantwortung beim freien zusammenschluss von studentInnenschaften: Isabella Ahrens</p>
				<p>Der Code für Hochschulwatch ist <a href="https://github.com/netAction/hochschulwatch/">auf Github verfügbar</a>.</p>
				<p>Disclaimer: Bitte beachten Sie, dass wir keine Beratung im Einzelfall geben können und nicht befugt sind, Rechtshilfe zu geben.</p>
			</div>
			<div class="col-sm-4 col-md-3 col-md-offset-2">
				<address>
					<strong>www.hochschulwatch.de</strong><br>
					taz.die tageszeitung<br>
					<a href="https://maps.google.de/maps?q=Rudi-Dutschke-Str.%2023%2010969%20Berlin">Rudi-Dutschke-Str. 23<br>
					10969 Berlin</a><br>
				</address>
				<address>
					Transparency International Deutschland e.V.<br>
					<a href="https://maps.google.de/maps?q=Alte Schönhauser Str..%2044%2010119%20Berlin">Alte Schönhauser Str. 44<br>
					10119 Berlin</a><br>
					Arne Semsrott<br>
					Tel.: 030 - 54 98 98 0
				</address>
				<address>
					<a href="mailto:hochschulwatch@taz.de">hochschulwatch@taz.de</a>
				</address>
			</div>
	</div><!-- container -->

