	<div class="container">
		<h1>Kontakt</h1>
		<div class="row">
			<div class="col-sm-7 col-md-7">
				<p>
					hochschulwatch.de ist ein Projekt von Transparency International Deutschland. Die technische Umsetzung erfolgte durch <a href="https://www.netaction.de/">Thomas Schmidt</a>.
				</p>
				<p>Verantwortlich im Sinne des Pressegesetzes: TI-D Name?</p>
				<p>Projektverantwortung bei Transparency International Deutschland: Peter Büttner, Moritz Boltz</p>
				<p>Der Code für Hochschulwatch ist <a href="https://github.com/netAction/hochschulwatch/">auf Github verfügbar</a>, <a href="https://github.com/netAction/hochschulwatch/tree/gh-pages/import/daten/vorlagen-in-csv">hier alle Quelldaten, die wir auf Hochschulwatch verwenden</a>.</p>
				<p>Senden Sie uns hilfreiche Informationen per E-Mail. </p>
				<p><a href="mailto:info@transparency.de" target="_top">info@transparency.de</a></p>
				<p>Wir freuen uns auch über inhaltliche und technische Mitarbeit am Projekt!</p>
			</div>
			<div class="col-sm-5 col-md-3 col-md-offset-2">
				<address>
					<strong>www.hochschulwatch.de</strong><br>
					<a href="https://www.transparency.de">Transparency International Deutschland e.V.</a><br>
					<a href="https://maps.google.de/maps?q=Alte Schönhauser Str..%2044%2010119%20Berlin">Alte Schönhauser Str. 44<br>
					10119 Berlin</a><br>
					<a href="mailto:pbuettner@transparency.de">pbuettner@transparency.de</a> (<a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0x1F3375FBAD5D83EB">PGP-Schlüssel</a>)<br>
					Tel.: 030 - 54 98 98 0
				</address>
			</div>
	</div><!-- container -->
