
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Drittmittel der Unternehmen</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li class="active"><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Sponsoring</h1>
				<p class="lead">
					Sponsoring ist die Zuwendung von Geld-, Sach- oder Dienstleistungen an eine Wissenschaftseinrichtung, für die der Zuwendungsgeber eine kommunikative Gegenleistung erhält. 
				</lead>

				<div class="row">
					<div class="col-sm-6">
						<p> Sponsoring ist von Spenden und Forschungsförderung abzugrenzen, die beide in den Bereich der Drittmittel fallen. Beim Sponsoring handelt es sich um wirtschaftliche Einnahmen der Hochschule, bei der der Sponsor eine unmittelbare kommunikative Gegenleistung des Zuwendungsempfängers erhält. Sponsoring ist umsatzsteuerpflichtig.<br>
						Der Veröffentlichung ihrer Namen in Sponsoringberichten stimmen die Sponsoren aber immer seltener zu.</p>
					</div>
					<div class="col-sm-6">
						<p>
							Sponsoring ist zudem von Kooperationen zu unterscheiden, bei denen gleichgerichtete Ziele und gemeinsame Vorhaben bei angemessener Kostenteilung verfolgt werden. Während Sponsoring nur zugunsten von Organisationen erfolgen kann, richtet sich die Annahme von Zuwendungen durch Einzelpersonen nach den dem Beschäftigungsverhältnis zugrundeliegenden Regelungen zur Annahme von Belohnungen und Geschenken.
						</p>
					</div>
				</div><!-- row -->

				<h3>Beispiele</h3>
				<h4>Beispiele für Sponsoringleistungen sind:</h4>
				<ul>	
					<li>Zweckfreie Spenden, Verwendung z.B. für Workshops, Konferenzen, Tag der offenen Tür</li>
							<li>Kostenübernahmen (Übernachtung, Reisekosten, Catering, Dekoration, Herstellungskosten von Fachinformationen)</li>
					<li>Sachzuwendungen (Bibliotheksliteratur; Kunstobjekte als Dauerleihe)</li>
				</ul>
				<h4>Gegenleistungen der Wissenschaftseinrichtungen können sein:</h4>
				<ul>
					<li>Gestattung der Nutzung des Hochschulnamens zur Werbenutzung durch Sponsor</li>
					<li>Hinweis auf Sponsor auf Plakaten, in Katalogen ohne besondere Hervorhebung</li>
					<li>Logo auf Homepage der Wissenschaftseinrichtung mit/ohne Link</li>
					<li>Überlassen von Stellflächen</li>
					<li>Duldung des Verteilens von Werbematerial</li>
					<li>Saalbenennung</li>
				</ul>

				<h3>Einschätzung von Transparency Deutschland</h3>
					<p>Durch Sponsoring oder Spenden kann der Anschein der Einflussnahme erweckt werden. Durch Gegenmaßnahmen (s.u.) muss sichergestellt werden, dass kein unmittelbarer Zusammenhang zu vergangenen, gegenwärtigen oder zukünftigen Umsatzgeschäften besteht und insbesondere keine Interessenkonflikte begründet werden, die dem Ethos einer integren und erkenntnisgeleiteten Wissenschaft zuwiderlaufen.</p>
				<h3>Maßnahmen, um Einflussnahme zu vermeiden</h3>
				<ul>
					<li>Transparenzprinzip: Einwerbung von Sponsoringleistungen durch vergaberechtliches Interessenbekundungsverfahren (Wettbewerbs-/Chancengleichheit potenzieller Sponsoren, Sponsoring als zur öffentlichen Grundfinanzierung subsidiäre Einnahmequelle</li>
    					<li>Dokumentationsprinzip: Abschluss eines Sponsoringvertrages, der die Leistung des Sponsors (z.B. Geld- oder Sachleistung) und die Leistung des Gesponserten (z.B. Namensnennung, Raum für Produktpräsentation) definiert, Dokumentation der Abwägung und Entscheidungsgründe in einem internen Vermerk</li>
    					<li>4-Augenprinzip: Grundsätzliche Zustimmungspflicht des Kanzlers/Verwaltungsleiters zu Sponsoringverträgen</li>
    					<li>Trennungsprinzip: keine Abhängigkeit bzw. sachlicher/zeitlicher Zusammenhang zwischen einer Sponsoringleistung und finanzwirksamen Entscheidungen der Wissenschaftseinrichtung</li>
    					<li>Proportionalität: angemessenes / sozialadäquates Verhältnis zwischen der Sponsoringleistung und der Gegenleistung der Wissenschaftseinrichtung</li>
					<li>Haushaltswahrheit-/klarheit: Buchung der Geld/-Sachleistungen aus Sponsoring bei den entsprechenden Einnahmetiteln bzw. Inventarisierung</li>
    					<li>Rechenschaft: Einrichtung Sponsorenkartei (Übersicht Einzelzuwendungen, Gesamtvolumen), ex-post-Kontrolle durch internes externes Audit (Interne Revision, Rechnungsprüfungsamt, Rechnungshof, Wirtschaftsprüfer)</li>
    					<li>Bei Sponsoring-Verträgen sollten eine unabhängige, zentrale Stelle der Organisation zur Beratung hinzugezogen werden, z.B. Ombudsperson, Compliance-Beauftragte(r), Sponsoring-Beauftragte(r).</li>
				</ul>
				<h3>Good Practice</h3>
				<p>Die Universität Frankfurt am Main hat eine Richtlinie zum Umgang mit Zuwendungen privater Dritter entwickelt. Seit 2008 wird in einem nach Höhe der privaten Zuwendung geschichteten Verfahren Transparenz für private Mittel geschaffen. Darunter fallen auch Sponsoringeinnahmen.
				<a href="http://www.hof.uni-frankfurt.de/de/about-us/house-of-finance-stiftung/stiftungskodex.html ">Quelle</a>
				</p>
				<h3>Steuerliche Aspekte</h3>
				<p>Abgrenzung der Sponsoringleistung und insbesondere Gegenleistung der Wissenschaftseinrichtung nach steuerlichen Sphären:</p>
				<ul>
					<li>ideeller Bereich (Zweckverwirklichung, keine Gegenleitung), z.B.: Teilnehmergebühren für wissenschaftliche Veranstaltung (Vollkostendeckung), keine Steuerpflicht</li>
    					<li>Zweckbetrieb/Vermögensverwaltung (passive Nutzung des Vermögens, kein aktives Mitwirken bei Werbemaßnahmen, Verwirklichung steuerbegünstigter Zweck), z.B.: Übernachtung, Verkaufserlöse Tagungsbände, ermäßigte Umsatzsteuer-> Rechnungsstellung</li>
    					<li>wirtschaftlicher Geschäftsbetrieb (selbständige Tätigkeit mit Einnahmeerzielung, aktives Mitwirken bei Werbemaßnahmen), z.B.: Sponsoring Rahmenprogramm/Catering, volle Umsatzsteuerpflicht -> Rechnungsstellung</li>
				</ul>

				<h3>Einzelne Regelungen zum Sponsoring in Bund und Ländern</h3>
				<h4>Bund</h4>
				<p>Das Innenministerium hat eine allgemeine 
				<a href="http://www.verwaltungsvorschriften-im-internet.de/bsvwvbund_07072003_O463414017.htm">Verwaltungsvorschrift zu Sponsoring</a> 
				herausgegeben sowie 
				<a href="https://www.bmi.bund.de/SharedDocs/downloads/DE/publikationen/themen/moderne-verwaltung/korruptionspraevention/korruptionspraevention-regelungen-zur-integritaet.html">Ausführungshinweise dazu</a>. Außerdem gibt es die Rahmenrichtlinie der Innenministerkonferenz über <a href="http://www.antikorruption.brandenburg.de/media_fast/4055/htlinie_der_Innenministerkonferenz_ueber_Grundsaetze_fuer_Sponsoring_Werbung_Spenden_und_maezenatische_Schenkungen_zur_Finanzierung_oeffentlicher_Aufgaben.pdf">Grundsätze für Sponsoring</a>. Das Innenministerium gibt jährlich einen <a href="https://www.bundesregierung.de/breg-de/service/publikationen/siebter-bericht-des-bmi-ueber-die-sponsoringleistungen-an-die-bundesverwaltung-735850">Sponsoringbericht</a> heraus.</p>

				<h4><img src="../images/land-baden-wuerttemberg.png" class="img-icon"> Baden-Württemberg</h4>
				<p>BaWü hat eine <a href="http://www.landesrecht-bw.de/jportal/?quelle=jlink&query=VVBW-WK-20161221-SF&psml=bsbawueprod.psml&max=true&aiz=true>Sponsoringregelung</a>, gibt auch <a href="https://im.baden-wuerttemberg.de/fileadmin/redaktion/m-im/intern/dateien/publikationen/20170706_Zweiter_Bericht_ueber_Sponsoringleistungen_an_die_Landesverwaltung_BW_.pdf">Sponsoringberichte heraus</a></p>
				<h4><img src="../images/land-bayern.png" class="img-icon"> Bayern</h4>
				<p>Vom <a href="http://www.innenministerium.bayern.de/sug/engagement/sponsoring/">Sponsoringbericht</a> des Bayer. Staatsministeriums des Innern sind Hochschulen ausgenommen</p>
				<h4><img src="../images/land-berlin.png" class="img-icon"> Berlin</h4>
				<p>In Berlin verfügt inzwischen ein Großteil der Hauptverwaltung über Vorschriften zum Umgang mit Sponsoring, die bisher nicht öffentlich zugänglich sind. Vom <a href="http://pardok.parlament-berlin.de/starweb/adis/citat/VT/17/DruckSachen/d17-1090.pdf">Sponsoringbericht</a> sind Hochschulen allerdings ausgenommen.</p>
				<h4><img src="../images/land-brandenburg.png" class="img-icon"> Brandenburg</h4>
				<p>Brandenburg gibt alle zwei Jahre einen <a href="https://mik.brandenburg.de/mik/de/ministerium/stabs-und-geschaeftsstellen/korruptionspraevention/sponsoring/">Sponsoringbericht</a> heraus, in dem auch Hochschulen aufgeführt sind.</p>
				<h4><img src="../images/land-bremen.png" class="img-icon"> Bremen</h4>
				<p>Das Land Bremen führt in seinen <a href="http://www.zaks.bremen.de/sixcms/detail.php?gsid=bremen137.c.1961.de">Sponsoringberichten</a> auch <a href="https://www.senatspressestelle.bremen.de/sixcms/media.php/13/20161110_SponsoringBericht.pdf">Hochschulsponsoring </a>auf.</p>
				<h4><img src="../images/land-hamburg.png" class="img-icon"> Hamburg</h4>
				<p>Aktuelle Sponsoringberichte aus Hamburg auch über Unis finden sich unter <a href="https://www.hamburg.de/contentblob/12136430/86e8b8ce20adb8ce45ac7ad2f9efb9a6/data/bwfg-sponsoring-bericht-2-hj-2018.pdf">hier</a>.</p>
				<h4><img src="../images/land-hessen.png" class="img-icon"> Hessen</h4>
				<p>Hessen hat jetzt eine Regelungen zum <a href="https://www.staatsanzeiger-hessen.de/dokument/?user_nvurlapi_pi1%5Bpdf%5D=StAnz-Hessen-Ausgabe-2016-3.pdf#page=2">Sponsoring</a> herausgegeben</p>
				<h4><img src="../images/land-mecklenburg-vorpommern.png" class="img-icon"> Mecklenburg-Vorpommern</h4>
				<p>In Mecklenburg-Vorpommern hat der Rechnungshof einen <a href="https://www.lrh-mv.de/static/LRH/Dateien/Sonderberichte/Sonderbericht_Hochschulfinanzierung.pdf">Prüfungsbericht</a> über die Hochschulfinanzierung vorgelegt. Dort wird Sponsoring nicht erwähnt, sondern nur Spenden.</p>
				<h4><img src="../images/land-niedersachsen.png" class="img-icon"> Niedersachsen</h4>
				<p>In Niedersachsen hat die Landesregierung am 01.04.2014 die aktuelle Richtlinie zur Korruptionsprävention und Korruptionsbekämpfung in der Landesverwaltung (Antikorruptionsrichtlinie) beschlossen. Danach sollen Sponsoringleistungen an das Land unverzüglich im Internet veröffentlicht werden. Darüber hinaus hat die Landesregierung entschieden, dass anonyme Spenden und Sponsoringleistungen, bei denen die Geberin oder der Geber nicht genannt werden möchte, nicht mehr angenommen werden. Aktuell (10/2020) werden <a href="https://www.mwk.niedersachsen.de/startseite/ministerium/sponsoringleistungen/zuwendungen-aus-sponsoring-werbung-spenden-und-mazenatischen-schenkungen-fur-das-land-niedersachsen-167568.html">Sponsoringberichte</a> online angeboten.</p>
				<h4><img src="../images/nordrhein-westfalen.png" class="img-icon"> Nordrhein-Westfalen</h4>
				<p>Sponsoringverträge sind in NRW grundsätzlich schriftlich zu schließen, Bestandteil solcher Verträge ist zwingend die Einwilligung des Sponsors in eine Veröffentlichung jeder Sponsoringleistung ab 1.000 Euro. Veröffentlicht wird der Name des Sponsors, Art, Wert und konkreter Zweck der Sponsoringleistung. Seit 2009 erfolgt die Veröffentlichung für alle Ressorts inklusive ihrer Geschäftsbereiche beim <a href="https://www.im.nrw/themen/verwaltung/strukturen-und-aufgaben/landesregierung-informiert-ueber-sponsoring">NRW-Innenministeriums</a>. Hochschulen sind von den Berichten jedoch ausgenommen.
				Seit 2014 gibt es aber einen <a href="https://recht.nrw.de/lmi/owa/br_bes_text?anw_nr=1&gld_nr=2&ugl_nr=20020&bes_id=28124&menu=1&sg=0&aufgehoben=N&keyword=Korruption#det0">Leitfaden </a>zur wirtschaftlichen Tätigkeit von Hochschulen inkl. Umgang mit Sponsorengeldern</p>
				<h4><img src="../images/land-rheinland-pfalz.png" class="img-icon"> Rheinland-Pfalz</h4>
				<p>Sponsoring in Rheinland-Pfalz wird geregelt durch eine <a href="https://fm.rlp.de/de/themen/verwaltung/korruptionspraevention/zuwendungen-an-die-oeffentliche-hand/">Verwaltungsvorschrift</a> zur Korruptionsprävention, mit Zuwendungsberichten, aber ohne über Hochschulen.</p>
				<h4><img src="../images/land-saarland.png" class="img-icon"> Saarland</h4>
				<p>Im Saarland gibt es eine <a href="https://www.saarland.de/mibs/DE/themen-aufgaben/aufgaben/sponsoringbericht/downloads/sponsoringrichtlinie_2014.pdf?__blob=publicationFile&v=1">Sponsoringregelung</a>, nach der auch die Namen der Sponsoren genannt werden sollen</p>
				<h4><img src="../images/land-sachsen.png" class="img-icon"> Sachsen</h4>
				<p>In den <a href="https://www.revosax.sachsen.de/vorschrift/1542-VwV-Drittmittel#vwv3">sächsischen Drittmittelrichtlinien</a> wird auch das Sponsoring für Hochschulen erwähnt. Darin wird ausdrücklich die wirtschaftliche Unabhängigkeit vom Sponsor zur Bedingung der Annahme gemacht.<br>
					In den zweijährlichen <a href="https://publikationen.sachsen.de/bdb/artikel/31135/documents/46785>Sponsoringberichten Sachsens</a> werden Hochschulennicht erwähnt</p>
				<h4><img src="../images/land-sachsen-anhalt.png" class="img-icon"> Sachsen-Anhalt</h4>
				<p>In der <a href="https://www.hs-anhalt.de/fileadmin/Dateien/Amtliche_Mitteilungen/AM_Heft_75.pdf">Richtlinie im Umgang mit Sponsoring in Sachsen-Anhalt</a> sind auch Hochschulen erwähnt.</p>
				<h4><img src="../images/land-schleswig-holstein.png" class="img-icon"> Schleswig-Holstein</h4>.
				<p>Im <a href="http://www.gesetze-rechtsprechung.sh.juris.de/jportal/?quelle=jlink&query=HSchulG+SH+%C2%A7+37&psml=bsshoprod.psml&max=truee Fassung:">Hochschulrahmengesetz</a> von Schleswig-Holstein wird auch der Umgang mit Drittmitteln geregelt.</p>
				<h4><img src="../images/land-thueringen.png" class="img-icon"> Thüringen</h4>
				<p>Thüringen veröffentlicht <a href="https://www.thueringen.de/mam/th3/tim/2018/sponsoringbericht.pdf">Zweijahresberichte über Sponsoring</a>-Leistungen, auch bezüglich der Hochschulen des Landes.</p>
			
			</div>
		</div>
	</div><!-- container -->

