
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li class="active"><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Stiftungsprofessuren</h1>
				<p class="lead">
					Stiftungsprofessuren sind durch einen privaten oder öffentlichen Drittmittelgeber teilweise oder komplett finanziert - zum Beispiel Unternehmen, Stiftungen, der Stifterverband für die deutsche Wissenschaft oder auch die öffentlich finanzierte Deutsche Forschungsgemeinschaft. Auf Hochschulwatch sind die von der Wirtschaft finanzierten Stiftungsprofessuren verzeichnet, von denen wir wissen. In 2016 gab es laut statistischem Bundesamt 806 privat finanzierte Professuren. 61 Prozent wurden aus Mitteln von Unternehmen (488) und 39 Prozent von Stiftungen (318) finanziert. Im Durchschnitt betrug das Fördervolumen für eine Stiftungsprofessur 118.000 Euro im Jahr 2017.  <a href="http://www.hochschul-barometer.de/2018">(Quelle)</a>
				</lead>

				<h3>Verteilung von Stiftungsprofessuren</h2>
				
				<p>
					Besonders viele Stiftungsprofessoren lehren und forschen an privaten Hochschulen. Dort sind 5,8 Prozent der Professoren aus privaten Mitteln gestiftet.<br>576 Stiftungsprofessuren wurden an Hochschulen in staatlicher Trägerschaft eingerichtet. Dort beträgt ihr Anteil an den Professuren 1,3 Prozent.
					<br>Von den aus der Wirtschaft finanzierten Stiftungsprofessuren wurden (an privaten Hochschulen) die meisten an der „Hochschule für Telekommunikation Leipzig“ eingerichtet (25). Bei den staatlichen Hochschulen lag die „Ruprecht-Karls-Universität Heidelberg“ mit 18 Stiftungsprofessuren an der Spitze. <br>
					Die meisten Stiftungsprofessuren gibt es in Nordrhein-Westfalen (138) und in Baden-Württemberg (121). Bayern liegt mit 102 Stiftungsprofessuren auf Rang drei. In den sogenannten alten Bundesländern befinden sich 724 der 806 Professuren. Der Anteil der Stiftungsprofessuren an allen Professuren in Deutschland beträgt 1,7 Prozent. Bezogen auf den Anteil der Professuren im jeweiligen Bundesland hat Schleswig-Holstein die meisten Stiftungsprofessuren (3,2 Prozent).
				</p>
				<p>
					Dabei dominieren deutlich Stiftungsprofessuren in den Wirtschaftswissenschaften und den anwendungsbezogenen MINT-Fächern (Mathematik, Informatik, Naturwissenschaften und Technik). Auch in der Medizin und in den Gesundheitswissenschaften sind sie weit verbreitet. Drei Viertel aller Stiftungsprofessuren sind an Universitäten, ein Viertel an Fachhochschulen eingerichtet.
				</p>
				<h4>Arten von Stiftungsprofessuren</h3>
					Es wird zwischen Stiftungsprofessuren, Stiftungsprofessuren auf Zeit, Stiftungsgastprofessuren, Stiftungsjuniorprofessuren, Stiftungsjuniorprofessuren mit Tenure-Track, Stiftungsprofessuren für vorgezogene Berufungen und Co-Professuren unterschieden.
				</p>
				<p>
					Eine Stiftungsprofessur ist eine neue W2 oder W3-Professur, die vom Förderer auf Zeit (meist fünf Jahre) geschaffen und anschließend von der Hochschule weitergeführt wird (Regelstiftungsprofessur). Zur Weiterführung/Übernahme verpflichtet sich die Hochschule vorab der Ausschreibung verbindlich. Deshalb wird die Stiftungsprofessur unbefristet ausgeschrieben. Bei einer Stiftungsprofessur auf Zeit richtet die Hochschule eine Professorenstelle (W2 oder W3) für die Dauer der privaten Finanzierung ein, wobei davon ausgegangen wird, dass diese nach Ablauf der Förderung von der Hochschule nicht weitergeführt wird.
				</p>
				<p>
					Die Hälfte aller Stiftungsprofessuren wird auf fünf Jahre privat finanziert, etwa 14% auf sechs Jahre und 12% auf zehn Jahre. 65% aller Stiftungsprofessuren werden in den Haushalt der Hochschule übernommen, wobei freie Stellen und Umschichtungen innerhalb der Fakultäten Voraussetzung sind. 
				</p>
				<h3>Einschätzung durch Rektoren</h2>
				<p>
					Unternehmen und Stiftungen richten Stiftungsprofessuren ein, um Forschung und Lehre auf Gebieten zu fördern, die sie an Hochschulen unterrepräsentiert sehen und denen sie einen zusätzlichen Impuls geben möchten. Die Motive der Hochschulen für die Einrichtung von Stiftungsprofessuren sind vielfältig. Neben der Erschließung neuer Forschungsgebiete ist auch die Verbesserung der Lehre ein häufig genanntes Argument für die Einrichtung von Stiftungsprofessuren.
				<p>
					Zwar schätzen laut Umfragen mehr als 80 Prozent der Präsidenten und Rektoren das Förderinstrument als wertvoll ein, aber ebensoviele bestätigen, dass eine Finanzierung der Stiftungsprofessuren und deren Übernahme in den regulären Stellenplan nach Ablauf der Förderung Schwierigkeiten bereitet. Im Durchschnitt wird, laut Befragung, etwa jede zweite Professur übernommen. Das zweitgrößte Hindernis ist die mangelhafte Einbindung eines Stiftungsprofessors in die Strukturen der Hochschule.	</p>
				
				<h3>Einschätzung durch Transparency Deutschland</h2>
				<p>
					Unternehmen finanzieren über Stiftungsprofessuren Forschung in für sie relevanten Bereichen und binden damit indirekt auch zukünftige spezialisierte Arbeitnehmer an sich. Stiftungsprofessuren können das Image des Unternehmens erheblich verbessern.
				</p>
				<p>
					Durch die engere Bindung der Hochschule an den jeweiligen Stifter – und damit die Wirtschaft – können Wechselverhältnisse und Interessenkonflikte entstehen, die im Sinne von Freiheit und Unabhängigkeit der Wissenschaft kritisch gesehen werden.</p>
				</p>

				<h3>Good Practice</h2>
				<p>
				Code of Conduct: Der Stifterverband hat einen Code of Conduct für Stiftungsprofessuren erarbeitet. Er stellt beispielsweise klar, dass der Stifter keinen Einfluss auf Forschung und Lehre nimmt und er keinen Anspruch auf die Verwertung von Forschungsergebnissen hat:	</p>
				

				<h4>Code of Conduct des Deutschen Stifterverbandes</h3>
					<p>Der Stifterverband für die Deutsche Wissenschaft <a href="http://www.stiftungsprofessuren.de/code_of_conduct"> empfiehlt seinen Partnern bei der Einrichtung von Stiftungsprofessuren</a>, folgende Punkte zu befolgen.</p>
				<b>Unabhängigkeit</b>
					<p>Die Hochschulen entscheiden frei über die Annahme von Stiftungsprofessuren. Hochschule und Förderer verständigen sich einvernehmlich über das zu bearbeitende Forschungsfeld. Der Geldgeber nimmt später keinen Einfluss auf Forschung und Lehre und die Veröffentlichung von Forschungsergebnissen. Die Besetzung der Stiftungsprofessur findet in Übereinstimmung mit den Hochschulgesetzen der Länder statt.</p>
				<b>Freiheit von Forschung und Lehre</b>
					<p>Die Freiheit von Forschung und Lehre und die Unabhängigkeit der jeweils geförderten Hochschule von wirtschaftlichen und sonstigen Interessen wird gewährleistet. Es besteht kein Anspruch des Förderers auf die Verwertung von Forschungsergebnissen.</p>
				<b>Transparenz</b>
					<p>Zweck und Inhalt der Förderung muss für die Öffentlichkeit erkennbar und nachvollziehbar sein. Alle Beteiligten verpflichten sich, jederzeit Rechenschaft über ihr Tun abzulegen und umfassend und vollständig über den Verlauf der Förderung zu berichten. Die Hochschule garantiert die zweckentsprechende Verwendung der Mittel und legt regelmäßig schriftlich Rechenschaft darüber ab. Ein standardisiertes Berichtswesen ermöglicht die inhaltliche Überprüfung. In Zweifelsfällen werden unabhängige Experten hinzugezogen.</p>
				<b>Schriftform</b>
					<p>Zuwendungsvereinbarungen oder Zuwendungszusagen bedürfen grundsätzlich der Schriftform. Alle die Förderung betreffenden Vereinbarungen werden schriftlich festgehalten.</p>
				<b>Verzicht auf Beeinflussung</b>
					<p>Mit der Förderung wird weder Einfluss auf Umsatzgeschäfte, Beschaffungsvorgänge etc. der geförderten Hochschule ausgeübt noch erwartet.</p>
			
			</div>
		</div>
	</div><!-- container -->

