
	<div class="container">
		<div class="row">
			<div class="hidden-xs col-sm-12 col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li class="active"><a href="stipendien.html">Stipendien</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Stipendien</h1>
				<p class="lead">
					261 Hochschulen boten 2013 gemeinsam mit privaten Unternehmen Deutschlandstipendien an.  
				</lead>

				<p>
					Bei diesen Stipendien erhalten Studenten 300 Euro im Monat - die Hälfte wird vom Bund, die andere Hälfte aus der Wirtschaft gezahlt. Die Hochschulen müssen das Geld selbst akquirieren. Im Gesetz zum Deutschlandstipendium steht: „Das Stipendium darf weder von einer Gegenleistung für den privaten Mittelgeber noch von einer Arbeitnehmertätigkeit oder einer Absichtserklärung hinsichtlich einer späteren Arbeitnehmertätigkeit abhängig gemacht werden“. Trotzdem müssen etwa am Karlsruher Institut für Technologie Studenten beim Fundraising helfen[1]. Obwohl nicht erlaubt, besteht die Gefahr, dass Mittelgeber aus der Wirtschaft Einfluss auf die Auswahl der Stipendiaten nehmen, etwa an der RWTH Aachen.
				</p>
				<h3>Bremen</h3>
				<p>
					Bremer Hochschulen sollen ihre Kooperationsverträge künftig offenlegen. (<a href="http://www.weser-kurier.de/bremen_artikel,-Wissenschaft-soll-besser-informieren-_arid,772562.html">Weser-Kurier</a>)
				</p>
			</div>
		</div>
	</div><!-- container -->

