
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0">
						<h3>Themenseiten</h3>
					</div>
					<div class="col-sm-4 col-md-12">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="forschungskooperationen.html">Forschungskooperationen</a></li>
							<li class="active"><a href="stipendien.html">Stipendien</a></li>
							<li><a href="stiftungsprofessuren.html">Stiftungsprofessuren</a></li>
							<li><a href="hochschulraete.html">Hochschulräte</a></li>
							<li><a href="sponsoring.html">Sponsoring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-8 col-md-offset-1">
				<h1>Stipendien</h1>
				<p class="lead">
					285 Hochschulen boten 2014 gemeinsam mit privaten Unternehmen Deutschlandstipendien an.  
				</lead>

				<p>
					Etwa 20.000 Studenten erhielten ein Stipendium und damit 300 Euro im Monat - die Hälfte wird vom Bund, die andere Hälfte aus der Wirtschaft gezahlt. Die Hochschulen müssen das Geld selbst akquirieren. Vor allem in den technischen Berufen und an technischen Hochschulen werden Deutschlandstipendien <a href="http://www.spiegel.de/unispiegel/studium/deutschlandstipendium-ingenieur-studenten-bekommen-am-haeufigsten-geld-a-1003864.html">eingesetzt</a>.
				</p>
				<p>
					<a href="http://www.gesetze-im-internet.de/stipg/__5.html">Im Gesetz zum Deutschlandstipendium</a> steht: „Das Stipendium darf weder von einer Gegenleistung für den privaten Mittelgeber noch von einer Arbeitnehmertätigkeit oder einer Absichtserklärung hinsichtlich einer späteren Arbeitnehmertätigkeit abhängig gemacht werden“.
				</p>
				<p>
					Trotzdem müssen etwa am Karlsruher Institut für Technologie Studenten beim Fundraising helfen (<a href="http://www.taz.de/Deutschlandstipendium-/!111760/">taz</a>). Obwohl nicht erlaubt, besteht die Gefahr, dass Mittelgeber aus der Wirtschaft Einfluss auf die Auswahl der Stipendiaten nehmen, etwa an der <a href="http://www.taz.de/Unis-und-Deutschlandstipendium/!111472/">RWTH Aachen</a>.
				</p>
			</div>
		</div>
	</div><!-- container -->

